livekit==0.8.0
livekit-api==0.4.2
flask
redis
requests
python-dotenv
livekit-agents==0.3.1
livekit-plugins-deepgram==0.1.4
livekit-plugins-elevenlabs==0.1.5
livekit-plugins-silero==0.1.1
livekit-plugins-openai==0.2.0
openai>=1.7.2
faster_whisper
dashscope
PyYAML
cnlunar
langchain_core
azure-cognitiveservices-speech
msgpack
funasr
funasr-onnx
bs4
ultralytics