livekit>=0.16.2
livekit-api>=0.7.0
flask
redis
requests
python-dotenv
livekit-agents>=0.8.12
livekit-plugins-deepgram>=0.6.7
livekit-plugins-elevenlabs>=0.7.4
livekit-plugins-silero>=0.8.3
livekit-plugins-openai>=0.6.4
openai>=1.46.0
faster_whisper
dashscope
PyYAML
cnlunar
langchain_core
azure-cognitiveservices-speech
msgpack
funasr
funasr-onnx
bs4
ultralytics